.button-style{
    border-radius: 25px;  
    color: white; 
    
}


.header-principal {
    padding-top: 25px;
    padding-bottom: 25px;
    transition: padding-top .3s,padding-bottom .3s;
    border: none;
    /* background-color: transparent; */
}

.image{
  width: 300px;
  height: 300px; 
  box-shadow: 0 10px 30px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
}

.featured-boxes {
 
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
       
 
  }

  .card-border{
    margin-top: 25px;
    border-radius: 25px; 
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; 
  }

  .card-in {
    padding: 10px
  }

.prestation-header{
    padding-top: 100px !important ;
    padding-bottom: 100px !important ;
}

.main-header{
  padding-top: 200px !important ;
  padding-bottom: 200px !important ;
}